# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- list popular languages for Data Science
- list commonly used libraries for Data Science
- make take for common data science tools
- execute arhithmatics

Some of the popular languages that Data Scientists use are:

    1. Python
    2. SQL
    3. R
    4. VBA
    5. Julia
    6. JavaScript
    7. Java
    8. Scala
    9. SAS
    10. MATLAB
    11. C/C++
    12. Swift

Some of the commonly used libraries used by Data Scientists include: 

    1. TensorFlow
    2. NumPy
    3. SciPy
    4. Pandas
    5. Matplotlib
    6. Keras
    7. SciKit-Learn
    8. BeutifulSoup
    9. LightGBM
    10. PyTorch
    11. ELI5
    12. Theano
    13. Ramp
    14. NuPIC
    15. Pipenv
    16. Bob
    17. PyBrain
    18. Caffe2
    19. Scrapy
    20. Chainer

|Data Science Tools|
|-------------------|
|Apache Spark|
|TensorFlow|
|RStudio|
 |RapidMiner|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
#This a simple arithmetic expression to multiply then add integers

17

In [4]:
minutes = 200
hours = minutes / 60
#This will convert 200 minutes to hours by diving by 60

In [5]:
print(hours)

3.3333333333333335

## Author
Om Lata Bhagat